.track{
    color: white;
    text-align: center;
    background: radial-gradient(61.32% 53.53% at 33.80% 48.98%, rgb(1, 61, 1), #01000A 100%);
    padding-top: 100px;
}
.vendorContainer{
    color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    background: radial-gradient(61.32% 53.53% at 33.80% 48.98%, rgb(1, 61, 1), #01000A 100%);
}
.special{
    color: white;
    text-align: center;
    padding-top: 100px;
    background: radial-gradient(61.32% 53.53% at 33.80% 48.98%, rgb(1, 61, 1), #01000A 100%);
}
.vendor-input{
    height: 20px;
    min-width: 40px;
    border-radius: 5px;
    padding-left: 5px;
    position: sticky;
    top: 60px;
    background-color: wheat;
    outline: none;
}
@media screen and (min-width:390px){
    .vendor-input{
        height: 20px;
        width: 300px;
        border-radius: 5px;
        padding-left: 5px;
        position: sticky;
        top: 60px;
        background-color: wheat;
        outline: none;
    }
}